<%= link_to "Back to projects", project_patches_path(@patch.project), class:'btn btn-primary mt-3' %>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="projects">
      <% if @patch.pat.attached? %>
      <% if  @patch.pat.image?%>
      <h1 class="card-title mb-5"><strong><%=@patch.description  %></strong></h1>
      <%= link_to image_tag(@patch.pat, class: "img w-50 border rounded"),  rails_blob_path(@patch.pat, disposition: "attachment") %>
      <% else %>
      <%= link_to @patch.pat.filename,  rails_blob_path(@patch.pat, disposition: "attachment") %>
      <% end %>
      <% end %>
      <div class=" w-50 mt-3 d-flex justify-content-between gap-1">
        <%= link_to "Edit", edit_patch_path(@patch), class: "btn btn-primary my-2" %>
        <%= button_to "Destroy", @patch, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>