 <%= link_to "Back to projects", projects_path, class:'btn btn-primary mt-3' %>
 <div class="container">
   <div class="row justify-content-md-center">
     <div class="projects">
       <%= render @prm %>
       <div class=" w-50 mt-3 d-flex justify-content-between gap-1">
         <%= link_to "Edit", edit_prm_path(@prm), class: "btn btn-primary my-2" %>
         <%= button_to "Destroy this prm", @prm, method: :delete, class: "btn btn-danger" %>
       </div>

       <%= render "prmers/form", prmer: @prmer %>

       <% if @prmers %>
       <% @prmers.each do |prmer| %>
       <div class="w-50 mt-4 border border-1">
         <h1><%= prmer.name %></h1>
         <% if prmer.id %>
         <div class=" w-100 mt-3 d-flex justify-content-between">
           <%= link_to  "Show", prmer, class: "btn btn-success" %>
           <%= button_to "Destroy this prmer", prmer, method: :delete, class: "btn btn-danger" %>
         </div>
         <% end %>
       </div>
       <% end %>
       <% end %>
     </div>